{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Automation Ststem</title>
    <link rel="stylesheet" href="door.css">
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="phone.css">
</head>
<body>
    <h1 class="h-primary center">
       Door Status
    </h1>
    <div id="app-cover">
        <div class="row">
          <div class="toggle-button-cover">
            <div class="button-cover">
              <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" />
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
          </div>
</body>
{% endblock %}